<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayankag.chrashlyticstry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="223f7347dec181bbc2fa2e8a4d5647a3d7aaa7fd" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="223f7347dec181bbc2fa2e8a4d5647a3d7aaa7fd" />

        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>